*{
    margin: 0;
    padding: 0;
}
@font-face  {
    font-family: 'noir';
    src: url('fonts/noir-black.ttf');

}
@font-face  {
    font-family: 'merenda';
    src: url('fonts/Merienda-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'queen';
    src: url('../fonts/Queen_of_Camelot.otf');
}
@font-face{
    font-family: elasi;
    src: url('../fonts/elasis.ttf');
}
@font-face{
    font-family: Drum;
    src: url('../fonts/Drum-N-Bass.ttf');
}
header{
    display: flex;
    justify-content: space-between;
    background: darkblue;
    border-bottom: 2px solid black;
    padding: 10px;
    align-items: center;
}
.logo{
    display: flex;
    padding-left: 25px;
    font-size: 45px;
    font-weight: 700;
    border-right: 2px black dotted;
    padding-right: 50px;
}
h1{
    font-family: Drum;
    padding-top: 20px;
    text-shadow: 2px 15px 2px black;
    color: white;
}
h3{
    font-size: 30px;
    text-shadow: 2px 5px 2px black;
    color: white;
}
nav{
    display: flex;

}
nav input{
    margin: 15px;
    list-style: none;
    width: 140px;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}
nav input:hover{
    font-size: 13px;
}
nav a{
    border: none;
}
nav a:hover{
    color: white;
    box-shadow: none;
    border: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-bottom: 2px solid black;
    border-right: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 5px;    
    text-shadow: 2px 2px 2px gray;
}
a:hover{
    border: 2px solid white;
    color: white;
    text-shadow: 3px 2px 2px black;
}
body{
    width: 100%;
    background: darkblue;
}
main{
    margin-top: 40px;
    padding-top: 40px;
}
img{
    float: right;
    height: 500px;
    width: 48%;
}
img:hover{
    box-shadow: 5px 5px 1px white;
}
fieldset{
    margin-left: 35px;
    margin-top: 40px;
    float: left;
    height: 350px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-left: 4%;
    background-image: url("../imagens/1672217080672.png");
    background-position: center center;
    background-size: 100%;
}
h2{
    font-size: 40px;
    margin-bottom: 15px;
    font-family: merenda;
    text-shadow: 3px 2px 1px black;
    color: white;
}
input{
    width: 400px;
    height: 35px;
    border-radius: 12px; 
    margin-bottom: 15px;
    font-family: merenda;
    font-size: 20px;
    text-align: right;
}
input:hover{
    background: blue;
    font-family: merenda;
    font-size: 20px;
    color: white;
}
label{
    font-weight: 700;
    font-size: 23px;
    margin-left: 35px;
    margin-bottom: 0;
    text-shadow: 2px 2px 1px crimson;
    color: white;
}
label:hover{
    background: darkcyan;
    width: 66px;
    border-radius: 10px;

}
#submit{
    font-weight: 700;
    font-size: 20px;
    animation: 1s;
    width: 150px;
    margin-left: 150px;
    text-align: center;
}
#submit:hover{
    background: darkcyan;
    color: white;
    font-family: merenda;
    text-shadow: 2px 2px 2px red;
}
p{
    font-weight: 500px;
    text-align: center;    
    font-size: 17px;
    color: white;
}
#cadastre a{
    border: none;
    font-weight: 800px;
    font-size: 19px;
    color: white;
    text-shadow: 3px 2px 2px black;
}
#cadastre a:hover{
    font-size: 22px;
    background: white;
    color: black;
    text-shadow: none;
    font-weight: bolder;
}
footer{
    width: 100%;
    height: 200px;
    background: darkcyan;
    float: left;
}
#redes{
    width: 100%;
}
footer ul{
    display: flex;
}
footer ul li{
    margin: 35px;
    list-style: none;
}
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
} 


@media(max-width: 850px) {
header{
    display: flex;
    flex-direction: column;
    background: blue;
}
nav input{
    margin: 0;
    width: 120px;
}
main{
    width: 100%;
    margin: 0;
    padding: 0;
}
footer{
    width: 100%;
    height: 100px;
}
#redes{
    width: 100%;
}
footer ul{
    display: flex;
}
footer ul li{
    margin: 0;
    list-style: none;
}
footer ul li a{
    font-size: 15px;
    margin: 0;
    padding: 0;
    border: none;
}
.logo img{
    height: 20px;
    width: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 0;    
    text-shadow: 1px 1px 1px #black;
}
img{
    height: 340px;
}
.logo{
    display: flex;
   
    font-size: 40px;
    font-weight: 700;
}
}